@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Yazar Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddWriter", "Writer", FormMethod.Post))
{

}


